### 1. Ler e exibir um arquivo CSV usando pandas

In [0]:
import pandas as pd
import numpy as np


df = spark.read.csv("/FileStore/tables/Online_Retail___Online_Retail.csv", header=True, sep=',')
df = df.toPandas()

In [0]:
df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850,United Kingdom

### 2. Selecionar colunas específicas de um DataFrame usando pandas

In [0]:
df[['stock_code', 'description', 'unit_price']]

,stock_code,description,unit_price
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,"2,55"
1,71053,WHITE METAL LANTERN,"3,39"
2,84406B,CREAM CUPID HEARTS COAT HANGER,"2,75"
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,"3,39"
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,"3,39"
...,...,...,...
541904,22613,PACK OF 20 SPACEBOY NAPKINS,"0,85"
541905,22899,CHILDREN'S APRON DOLLY GIRL,"2,1"
541906,23254,CHILDRENS CUTLERY DOLLY GIRL,"4,15"
541907,23255,CHILDRENS CUTLERY CIRCUS PARADE,"4,15"
541908,22138,BAKING SET 9 PIECE RETROSPOT,"4,95"

### 3. Filtrar linhas com base em uma condição usando pandas

In [0]:
df[df['unit_price'] < '2,55']

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
7,536366,22633,HAND WARMER UNION JACK,6,12/1/10 8:28,"1,85",17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/10 8:28,"1,85",17850,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/10 8:34,"1,69",13047,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/10 8:34,"2,1",13047,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/10 8:34,"2,1",13047,United Kingdom
...,...,...,...,...,...,...,...,...
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/11 12:50,"1,65",12680,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/11 12:50,"1,95",12680,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/11 12:50,"1,95",12680,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,"0,85",12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,"2,1",12680,France

### 4. Agrupar dados com base em uma coluna usando pandas

In [0]:
df.groupby('region').count().reset_index()

,region,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id
0,Australia,1259,1259,1259,1259,1259,1259,1259
1,Austria,401,401,401,401,401,401,401
2,Bahrain,19,19,19,19,19,19,17
3,Belgium,2069,2069,2069,2069,2069,2069,2069
4,Brazil,32,32,32,32,32,32,32
5,Canada,151,151,151,151,151,151,151
6,Channel Islands,758,758,758,758,758,758,758
7,Cyprus,622,622,622,622,622,622,622
8,Czech Republic,30,30,30,30,30,30,30
9,Denmark,389,389,389,389,389,389,389
10,EIRE,8196,8196,8196,8196,8196,8196,7485
11,European Community,61,61,61,61,61,61,61
12,Finland,695,695,695,695,695,695,695
13,France,8557,8557,8557,8557,8557,8557,8491
14,Germany,9495,9495,9495,9495,9495,9495,9495
15,Greece,146,146,146,146,146,146,146
16,Hong Kong,288,288,288,288,288,288,0
17,Iceland,182,182,182,182,182,182,182
18,Israel,297,297,297,297,297,297,250
19,Italy,803,803,803,803,803,803,803
20,Japan,358,358,358,358,358,358,358
21,Lebanon,45,45,45,45,45,45,45
22,Lithuania,35,35,35,35,35,35,35
23,Malta,127,127,127,127,127,127,127
24,Netherlands,2371,2371,2371,2371,2371,2371,2371
25,Norway,1086,1086,1086,1086,1086,1086,1086
26,Poland,341,341,341,341,341,341,341
27,Portugal,1519,1519,1519,1519,1519,1519,1480
28,RSA,58,58,58,58,58,58,58
29,Saudi Arabia,10,10,10,10,10,10,10
30,Singapore,229,229,229,229,229,229,229
31,Spain,2533,2533,2533,2533,2533,2533,2533
32,Sweden,462,462,462,462,462,462,462
33,Switzerland,2002,2002,2002,2002,2002,2002,1877
34,USA,291,291,291,291,291,291,291
35,United Arab Emirates,68,68,68,68,68,68,68
36,United Kingdom,495478,495478,494024,495478,495478,495478,361878
37,Unspecified,446,446,446,446,446,446,244

### 5. Usar a função max em alguma coluna do DataFrame

In [0]:
df['unit_price'].max()

Out[12]: '99,96'